@charset "UTF-8";

/*SP版のスタイルを記述*/

/* <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.noto-sans jp-<uniquifier> {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/

.noto-sans-400 {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.noto-sans-700 {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.text-vl { writing-mode: vertical-rl; }

.wrap {max-width: 600px;}
.header {width: 100%; text-align: left; height: 52px; padding: 10px; position: fixed; 0top: 0; z-index: 100; background-color: #fff; box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);}
.header .logo {width: 100px;}
.header .logo img {width: 100%;}

.main-visual {width: 100%; position: relative; }
.main-visual .img-mv {width: 100%; opacity: 0;}
.main-visual h2 { position: absolute; top: 100px; left: 50%; transform: translateX(-50%); color:#fff; font-size: 22px; line-height: 2em; }

/*==================================================
　ナビボタン 3本線が回転して×に
===================================*/

/*ボタン外側※レイアウトによってpositionや形状は適宜変更してください*/
.openbtn6{
    position: absolute;
    right: 0;
    top:4px;
    cursor: pointer;
      width: 60px;
      height:34px;
}
  
  /*ボタン内側*/
  .openbtn6 span{
      display: inline-block;
      transition: all .4s;/*アニメーションの設定*/
      position: absolute;
      right: 14px;
      height: 2px;
      border-radius: 2px;
    background: #000;
    }
  
  
  .openbtn6 span:nth-of-type(1) {
    top:15px; 
      width: 20%;
  }
  
  .openbtn6 span:nth-of-type(2) {
    top:23px;
      width: 40%;
  }
  
  .openbtn6 span:nth-of-type(3) {
    top:31px;
      width: 60%;
  }
  
  /*activeクラスが付与されると線が回転して×になる*/
  
  .openbtn6.active span:nth-of-type(1) {
      top: 18px;
      left: 25px;
      transform: translateY(6px) rotate(-135deg);
      width: 30%;
  }
  
  .openbtn6.active span:nth-of-type(2) {
    opacity: 0;
  }
  
  .openbtn6.active span:nth-of-type(3){
      top: 30px;
      left: 25px;
      transform: translateY(-6px) rotate(135deg);
      width: 30%;
  }




/*media Queries 600px以上 タブレット用
----------------------------------------------------*/
@media screen and (min-width: 600px) {
/*タブレット版のスタイルを記述*/

}

/*media Queries 1025px以上
----------------------------------------------------*/
@media screen and (min-width: 1025px) {
/*PC版のスタイルを記述*/

}