@charset "UTF-8";

/*SP版のスタイルを記述*/

/* <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.noto-sans jp-<uniquifier> {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/

.noto-sans-400,body {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.noto-sans-700 {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.shippori-mincho-400 {
    font-family: "Shippori Mincho B1", serif;
    font-weight: 400;
    font-style: normal;
  }

.main-blue { color:#47478c; }
.main-orange { color: #ce802d; }
.text-vl { writing-mode: vertical-rl; }



.wrap {max-width: 599px;}
.header {width: 100%; text-align: left; height: 52px; padding: 10px; position: fixed; top: 0px; z-index: 100; background-color: rgba(255, 255, 255, 0.9); box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);}
.header .logo {width: 100px;}
.header .logo img {width: 100%;}

.main-visual {width: 100%; position: relative; min-height: 500px; }
.main-visual .img-mv {width: 100%; opacity: 0;}
.main-visual h2 { position: absolute; top: 100px; left: 50%; transform: translateX(-50%); color:#fff; font-size: 22px; line-height: 2em; }
.TextTyping span { display: none; }
/*文字列後ろの線の設定*/
/*.TextTyping::after { content: "|"; animation: typinganime .8s ease infinite; }*/
@keyframes typinganime{
	from{opacity:0}
	to{opacity:1}
}

/*==================================================
　ナビボタン 3本線が回転して×に
===================================*/

/*ボタン外側※レイアウトによってpositionや形状は適宜変更してください*/
.openbtn6{
    position: fixed;
    right: 0;
    top:4px;
    cursor: pointer;
      width: 60px;
      height:34px;
      z-index: 9999;
}
  
  /*ボタン内側*/
  .openbtn6 span{
      display: inline-block;
      transition: all .4s;/*アニメーションの設定*/
      position: absolute;
      right: 14px;
      height: 2px;
      border-radius: 2px;
    background: #000;
    }
  
  
  .openbtn6 span:nth-of-type(1) {
    top:15px; 
      width: 20%;
  }
  
  .openbtn6 span:nth-of-type(2) {
    top:23px;
      width: 40%;
  }
  
  .openbtn6 span:nth-of-type(3) {
    top:31px;
      width: 60%;
  }
  
  /*activeクラスが付与されると線が回転して×になる*/
  
  .openbtn6.active span:nth-of-type(1) {
      top: 18px;
      left: 25px;
      transform: translateY(6px) rotate(-135deg);
      width: 30%;
  }
  
  .openbtn6.active span:nth-of-type(2) {
    opacity: 0;
  }
  
  .openbtn6.active span:nth-of-type(3){
      top: 30px;
      left: 25px;
      transform: translateY(-6px) rotate(135deg);
      width: 30%;
  }

  /*========= ナビゲーションのためのCSS ===============*/

#g-nav{
    /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
    position:fixed;
    z-index: 999;
    /*ナビのスタート位置と形状*/
  top:0;
    right: -120%;
  width:100%;
    height: 100vh;/*ナビの高さ*/
  background:linear-gradient(45deg, rgba(88, 182, 211, .9), rgb(211 126 63 / 90%));
    /*動き*/
  transition: all 0.6s;
}

/*アクティブクラスがついたら位置を0に*/
#g-nav.panelactive{
    right: 0;
}

/*ナビゲーションの縦スクロール*/
#g-nav.panelactive #g-nav-list{
    /*ナビの数が増えた場合縦スクロール*/
    position: fixed;
    z-index: 999; 
    width: 100%;
    height: 100vh;/*表示する高さ*/
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

/*ナビゲーション*/
#g-nav ul {
    /*ナビゲーション天地中央揃え*/
    position: absolute;
    z-index: 999;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

/*リストのレイアウト設定*/

#g-nav li{
  list-style: none;
    text-align: center;
}

#g-nav li a{
  color: #fff;
  text-decoration: none;
  padding:10px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}

.intro { width: 100%; position: relative; height: 186px; }
.intro__wrap {display: flex; position: absolute; top: -40px; left: 15px; width: 340px; }
.intro__left { width: 230px; }
.intro__right { width: 110px; display: flex; padding-top: 22px; }
.intro__text--l { font-size: 90px; }
.intro__text--m { font-size: 18px; letter-spacing: 0.07em; }
.intro__text--s { font-size: 12px; line-height: 1.5em; position: relative; top: -3px;}
.intro__right .intro__text--l { font-size: 84px; letter-spacing: 0.1em; position: relative; top: -6px; left: 3px;}
/* 右からフェードイン */

.fadeUp{
    animation-name:fadeRightAnime;
    animation-duration:0.5s;
    animation-fill-mode:forwards;
    opacity:0;
    animation-delay: 3s;
    }
    
    @keyframes fadeRightAnime{
      from {
        opacity: 0;
        transform: translateX(500px);
      }
    
      to {
        opacity: 1;
        transform: translateX(0);
      }
    }

.message { width: 100%; position: relative; height: auto; line-height: 1.6em; font-size:15px;}
.message__wrap { width: 100%; background: #eaecf6 url(../images/bg_message-top.jpg) no-repeat top / 100%; padding: 60px 15px 20px 15px; position: relative; overflow: hidden; }
.message__wrap--bottom { width: 100%; background: #eaecf6 url(../images/bg_message-bottom.jpg) no-repeat bottom / 100%; text-align: center; padding: 30px 0 114px 0; }
.message__wrap--bottom img { width: 76%; }
.message__title {position: absolute; right: 55px; top: 76px; font-size: 140px; color: #fff; z-index: 1;}
.message__text { position: relative; z-index: 2;}
.message__img--name {padding-top: 20px;}

.want { width: 100%; }
.want__wrap {width: 100%; text-align: center; padding: 40px 15px; }
.want__text {line-height: 1.5em; font-size:18px; font-weight: 700; color: #333;}

.theory { width: 100%; position: relative; font-size:15px; }
.theory__wrap {width: 100%;  padding: 40px 15px 0 15px;; background: #fcf7f2 url(../images/bg_4976-top.jpg) no-repeat top / 100%; }
.theory__wrap--bottom {width: 100%;  padding: 50px 15px; background: #fcf7f2 url(../images/bg_4976-bottom.jpg) no-repeat bottom / 100%; }
.theory__h3wrap {height:18px;}
.theory__indextitle { background: url(../images/dotline.png) no-repeat left / 30px; font-size: 15px; padding-left: 36px; position: relative; left: -16px; }
.theory__contents { color: #666; }
.theory__index--head { padding-left: 24px; }
.theory__index--head span {font-size: 13px;}
.theory__menu { padding: 20px 0; }
.theory__index--body { padding: 15px 0 20px 25px;}
.theory__index--body p { padding: 0 0 18px 15px; background: url(../images/arrow_right.png) no-repeat left / 8px; background-position-y: 3px; text-decoration: underline solid #bbb; }
.theory__index--close { width: 100%; text-align: right; padding-top: 20px; font-size: 14px; cursor: pointer; }
.theory__main { width: 100%; border-top: #e9dacb 1px solid; padding: 40px 0 70px 0; color: #333; }
.theory__title { font-size:23px; font-weight: 700; letter-spacing: 0.1em; margin-bottom: 30px; line-height: 1.5em; }
.theory__text { font-size: 16px; letter-spacing: 0.05em; line-height: 1.7em; }
.theory__img {width: 100%; margin: 25px 0; }
.theory__main--end { padding-bottom:0; }

.interview { width: 100%; height:200px; background-color: #efefef; }
.interview__wrap { width: 100%; text-align: center; padding: 40px 15px; font-weight: 700; }

.recruitment { width: 100%; height:200px; }
.recruitment__wrap { width: 100%; text-align: center; padding: 40px 15px; font-weight: 700; }

#footer { width: 100%; height:200px;  text-align: center; padding: 40px 15px; font-weight: 700; background:linear-gradient(45deg, rgba(88, 182, 211, 1.0), rgb(211 126 63 / 100%)); }


/*アコーディオン全体*/
.accordion-area{
    list-style: none;
    width: 96%;
    max-width: 900px;
    margin:0 auto;
}

.accordion-area li{
    margin: 10px 0;
}


/*アコーディオンタイトル*/
.title {
    position: relative;/*+マークの位置基準とするためrelative指定*/
    cursor: pointer;
    transition: all .5s ease;
}

/*アイコン*/
.title::before{
    position: absolute;
    content:url(../images/arrow_right.png);
}
.title::before{
    top: -10px;;
    left: -4px;
    transform: scale(0.4) rotate(0deg);
    
}
/*closeというクラスがついたら形状変化　*/
.title.close::before{
  transform: scale(0.4) rotate(90deg);
}
.title.close span {display: none;}


/*アコーディオンで現れるエリア*/
.box { display: none; }

/*固定用css*/
.fixed {
    position: fixed;
    top: 65px; left:-1px;
    width: 100%;
  }

/*========= ページトップのためのCSS ===============*/

/*リンクの形状*/

#page-top a{
    display: flex;
    justify-content:center;
    align-items:center;
    background:#e1dccf;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    color: #fff;
    text-align: center;
    text-transform: uppercase; 
    text-decoration: none;
    font-size:0.6rem;
    transition:all 0.3s;
    opacity: 0.8;
  }
  
  /*
  #page-top a:hover{
    background: #777;
  }*/
  
  /*リンクを右下に固定*/
  #page-top {
    position: fixed;
    right: 10px;
    bottom:10px;
    z-index: 2;
      /*はじめは非表示*/
    opacity: 0;
    transform: translateY(100px);
  }
  
  /*　上に上がる動き　*/
  
  #page-top.UpMove{
    animation: UpAnime 0.5s forwards;
  }
  @keyframes UpAnime{
    from {
      opacity: 0;
    transform: translateY(100px);
    }
    to {
      opacity: 1;
    transform: translateY(0);
    }
  }
  
  /*　下に下がる動き　*/
  
  #page-top.DownMove{
    animation: DownAnime 0.5s forwards;
  }
  @keyframes DownAnime{
    from {
      opacity: 1;
    transform: translateY(0);
    }
    to {
      opacity: 1;
    transform: translateY(100px);
    }
  }


/*media Queries 600px以上 タブレット用
----------------------------------------------------*/
@media screen and (min-width: 600px) {
/*タブレット版のスタイルを記述*/
.disp_sp { display: none }

}

/*media Queries 1025px以上
----------------------------------------------------*/
@media screen and (min-width: 1025px) {
/*PC版のスタイルを記述*/
.disp_sp { display: none }

}